/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 310;

  /* color mode */
  --first-color: hsl(var(--hue-color), 100%, 50%);
  --first-color-contrast: #fff;
  --second-color-contrast: hsl(257, 100%, 50%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);


  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  /*color mode */
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*========== Button Dark/Light ==========*/
.nav_btns {
  display: flex;
  align-items: center;
}

.change-theme {
  font-size: 1.8rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: #fff;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
  /* max-width: 768px; */
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 2rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/
.nav {
  /* max-width: 968px; */
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--first-color);
  margin-left: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  z-index: 0;
}


.nav_logo,
.nav_toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
  z-index: 1;
}

.nav_logo {
  font-size: 22px;
}

.nav_logo:hover {
  color: var(--first-color-contrast);
  opacity: 1;
}

.nav_toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover {
  color: var(--first-color-contrast);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(00, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav_list {
  margin-top: 2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  
}

.nav_link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover {
  /* color: var(--first-color); */
  color: #fff;
}

.nav_icon {
  font-size: 1.8rem;
}

.nav_close {
  position: absolute;
  right: 5rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}

/* show menu */
.show-menu {
  bottom: 0;
}

/* Active link */

/* Change background header */

/*==================== HOME ====================*/
.home_container {
  gap: 1rem;
}

.home_content {
  display: grid;
  grid-template-columns: .5fr 3fr;
  padding-top: 4rem;
  align-items: center;



}

.home_social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  width: fit-content;
}

.home_social-icon {
  font-size: 1.5rem;
  color: var(--first-color);
}

.home_social-icon:hover {
  color: var(--first-color-alt);
}

.home_blob {
  margin-top: -3rem;
  width: 270px;
  fill: var(--first-color);
  
}

.home_blob-img {
  
  width: 180px;
}

.home_data {
  margin-top: -3rem;
  grid-column: 1/3;
  margin-left: 40%;
}

.home_title {
  font-size: var(--big-font-size);
}

.home_subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home_description {
  margin-bottom: var(--mb-2);
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button_icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}

/*==================== ABOUT ====================*/
.about_img {
  width: 300px;
  border-radius: 0.5rem;
  justify-self: center;
  align-self: center;
}

.about_description {
  text-align: center;
  margin-right: 4rem;
  margin-bottom: var(--mb-2-5);
}

.about_info-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.about_info {
  margin-right: 4rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2-5);
}

.about_info-title,
.about_info-name {
  display: block;
  text-align: center;
}

.about_buttons {
  display: flex;
  justify-content: center;
}

.section_title {
  font-size: var(--big-font-size);
}

/*==================== SKILLS ====================*/
.skills_container {
  row-gap: 0;
}

.skills_header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills_icon,
.skills_arrow {
  font-size: 2rem;
  color: var(--first-color);
}

.skills_icon {
  margin-right: var(--mb-0-75);
}

.skills_title {
  font-size: var(--h2-font-size);
}

.skills_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.skills_arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills_list {
  row-gap: 1.5rem;
  padding-left: 2.7rem;
}

.skills_titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_bar,
.skills_percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills_bar {
  background-color: var(--first-color-lighter);
}

.skills_percentage {
  display: block;
  background-color: var(--first-color);
}

.skills_html {
  width: 90%;
}
.skills_css {
  width: 90%;
}
.skills_sass {
  width: 60%;
}
.skills_bootstrap {
  width: 60%;
}
.skills_javascript {
  width: 30%;
}
.skills_jquery {
  width: 30%;
}
.skills_angular {
  width: 30%;
}
.skills_vue {
  width: 30%;
}
.skills_react {
  width: 30%;
}
.skills_php {
  width: 30%;
}
.skills_mysql {
  width: 30%;
}
.skills_java {
  width: 30%;
}
.skills_springboot {
  width: 30%;
}
.skills_node {
  width: 30%;
}

.skills_close .skills_list {
  height: 0;
  overflow: hidden;
}

.skills_open .skills_list {
  height: max-content;
  margin-bottom: var(--mb-2-5);
}

.skills_open .skills_arrow {
  transform: rotate(-180deg);
}

/*==================== QUALIFICATION ====================*/
.qualification_tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
  /* margin-right: 1.5rem; */
}

.qualification_button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.qualification_button:hover {
  color: var(--first-color);
}

.qualification_icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.qualification_data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 2rem;
  margin-bottom: 1.6rem;
}

.qualification_title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.qualification_subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.qualification_calendar {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

.qualification_rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--first-color);
  border-radius: 50%;
}

.qualification_line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification_active[data-content] {
  display: block;
}

.qualification_button.qualification_active {
  color: var(--first-color);
}

/*==================== SERVICES ====================*/

/* Active Modal */

/*==================== PORTFOLIO ====================*/
.portofolio_container {
  overflow: initial;
}

.portofolio_content {
  padding: 0 1.5rem;
}

.portofolio_img {
  width: 265px;
  border-radius: 0.5rem;
  justify-self: center;
}

.portofolio_title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portofolio_description {
  margin-bottom: var(--mb-0-75);
}

.portofolio_button:hover .button_icon {
  transform: translateX(0.25rem);
}

/*==================== PROJECT IN MIND ====================*/

/*==================== TESTIMONIAL ====================*/

/*==================== CONTACT ME ====================*/
.contact_container {
  row-gap: 3rem;
}

.contact_information {
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact_icon {
  font-size: 2rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact_title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_content {
  background-color: var(--input-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact_label {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.contact_input {
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}



.submit-btn{
  border: none;
  width: 100%;
}

/*==================== FOOTER ====================*/
.footer {
  padding-top: 2rem;
}

.footer_container {
  row-gap: 3.5rem;
}

.footer_bg {
  background-color: var(--first-color-second);
  padding: 2rem 0 3rem;
}

.footer_title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}

.footer_subtitle {
  font-size: var(--small-font-size);
}

.footer_links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer_link:hover {
  color: var(--first-color-lighter);
}

.footer_social {
  font-size: 1.25rem;
  margin-right: var(--mb-1-5);
}

.footer_social:hover {
  color: var(--first-color-lighter);
}

.footer_copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

.footer_title,
.footer_subtitle,
.footer_link,
.footer_social,
.footer_copy {
  color: #fff;
}


/*========== CUSTOM SCROLL BAR ==========*/
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
}

/*==================== BUTTON ANIMATION ====================*/

.button-flex {
  transition: transform 0.3s ease;
}

.button-flex:hover {
  transform: translateY(-10px);
}

/*==================== BACKGROUND ANIMATION ====================*/
main{

  position: relative;
  width: 100%;
  overflow: hidden;

}

.bubbles{
  position: relative;
  display: flex;
}

.bubbles span{
  position: relative;
  z-index: -1;
  width:30px ;
  height: 30px;
  background-color: #9b7eea;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #642bff,
  0 0 50px #a189e3,
  0 0 100px #a189e3;
  animation: animate 15s linear infinite;
  animation-duration: calc(130s / var(--i));
}

.bubbles span:nth-child(even){
  background-color: #f584e4;
  box-shadow: 0 0 0 2px #ec46ba,
  0 0 50px #f584e4,
  0 0 100px #f584e4;
}

@keyframes animate {
  0%{
    transform: translateY(100vh) scale(0);
  }

  100%{
    transform: translateY(-10vh) scale(1);
  }
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (min-width: 350px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  div.bubbles span{
    /* position: relative;
    z-index: -1; */
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  .nav.nav.container {
    margin-left: 0;
  }

  .nav_menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav_list {
    column-gap: 0;
  }

  .home_content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home_blob {
    width: 180px;
  }

  .skills_title {
    font-size: var(--normal-font-size);
  }

  .qualification_data {
    gap: 0.5rem;
  }

  .project_img {
    width: 200px;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .home_container.container.grid {
    grid-template-columns: max-content 1fr 1fr;
  }

  div.bubbles span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .home_data {
    grid-column: initial;
  }

  .home_img {
    order: 1;
    justify-self: center;
  }

  .about_container,
  .skills_container,
  .portfolio_content,
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification_sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .section_subtitle {
    margin-bottom: 4rem;
  }

  .header#header.header {
    padding-right: 0;
    padding-left: 0;
    top: 0;
    bottom: initial;
  }

  div.bubbles span{
    position: relative;
    z-index: -1;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  div.home_content.grid {
    width: 100px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  div.home_data {
    width: 500px;
  }

  .header,
  .main,
  .footer_container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav.nav.container {
    margin-left: 0;
    margin-right: 0;
  }

  .nav_icon,
  .nav_close,
  .nav_toggle {
    display: none;
  }

  .nav_list {
    display: flex;
    column-gap: 2rem;
  }

  .nav_menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home_container {
    row-gap: 5rem;
  }

  .home_content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

  .home_blob {
    width: 270px;
  }

  .about_img {
    width: 350px;
  }

  .about_description {
    text-align: initial;
  }

  .about_info {
    justify-content: space-between;
  }

  .about_buttons {
    justify-content: initial;
  }

  .qualification_tabs {
    justify-content: center;
  }

  .qualification_button {
    margin: 0 var(--mb-1);
  }

  .portofolio_img {
    width: 320px;
  }

  .portfolio_content {
    align-items: center;
  }

  div.contact_container.container.grid {
    justify-content: center;
  }

  div.contact_inputs.grid {
    width: 450px;
  }

  .footer_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer_bg {
    padding: 3rem 0 3.5rem;
  }

  .footer_links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer_socials {
    justify-self: flex-end;
  }

  .footer_copy {
    margin-top: 4.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {

  div.bubbles span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .header,
  .main,
  .footer_container {
    padding: 0;
  }

  /* .div.contact_input.grid{
    width: 350px;
  } */

  .footer_title {
    margin-left: 1.5rem;
  }

  .footer_subtitle {
    margin-left: 1.5rem;
  }


  .home_blob {
    width: 320px;
  }

  div.skills_container.container.grid {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .portfolio_content {
    column-gap: 5rem;
  }

}

